<!-- prettier-ignore -->
{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="row">
	{% for product in products %}
	<div class="col-lg-4">
		{% if product.imageURL %}
		<img
			class="thumbnail"
			src="{{product.imageURL}}"
			alt="product-thumbnail"
		/>
		{% else %}
		<img
			class="thumbnail"
			src="{% static 'images/placeholder.png' %}"
			alt="product-thumbnail"
		/>
		{% endif %}
		<div class="box-element product">
			<h6><strong>{{product.name}}</strong></h6>
			<hr />
			<button class="btn btn-outline-secondary add-btn">
				Add to Cart
			</button>
			<a href="#" class="btn btn-outline-success">View</a>
			<h4 class="set-right">₹{{product.price|floatformat:2}}</h4>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock content %}
